$padding-top-h1: 3rem !default;
$padding-bottom-h1: 3rem !default;

$padding-top-h2: 2rem !default;
$padding-bottom-h2: 2rem !default;

$padding-top-body: 4rem;
$padding-bottom-body: 4rem;

$block-border-radius: 3px;
$block-box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);

$screen-lg: 1280px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 575px;

$grid-max-width: 1170px;
$gutter-width: 1.5rem;
